@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{
        @apply py-2 px-4 font-bold rounded-lg transition duration-500 text-sm font-medium
    }

    .btn-blue{
        @apply bg-blue-500 text-white
    }

    .btn-red{
        @apply bg-red-500 text-white
    }

    .btn-blue:hover{
        @apply bg-blue-400
    }
    
    .welcome-container{
        @apply flex justify-center items-center h-screen w-full bg-gradient-to-r from-slate-200 via-slate-100 to-slate-200
    }

    .input-label{
        @apply block mb-2 text-sm font-medium text-gray-900
    }

    .input-field{
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 
    }
}